* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 230, 168);
    color: black;
    text-align: left;
    padding: 15px;

}

ul {
    list-style-type: none;
    padding-top: 20px;
}

#form {
    display: flex;
    flex-direction: column;
}

#form-showcase {
    background-color: (255, 230, 168);
    color: black; (73, 206, 255);
    text-align:left;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    margin-top: 5px;
    cursor: pointer;
    width: 20%;
}

button:visited,
button:active {
    color: rgb(73, 206, 255);
    text-decoration: none;
}

button:hover {
    background-color: rgb(197, 197, 197);
    color: white;
}